<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <!-- loop over the collection of products -->
        <div *ngFor="let tmpProduct of products" class="col-md-3">

          <div class="product-box">

            <a routerLink="/products/{{ tmpProduct.id }}">
              <img src="{{ tmpProduct.imageUrl }}" class="responsive">
            </a>

            <a routerLink="/products/{{ tmpProduct.id }}">
              <h1>{{ tmpProduct.name }}</h1>
            </a>

            <div class="price">{{ tmpProduct.unitPrice | currency: 'USD' }}</div>
            <button (click)="addToCart(tmpProduct)" class="btn btn-primary btn-sm">Add to cart</button>
          </div>
        </div>

        <!--  if products empty show a message  -->
        <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
          No products found
        </div>

      </div>

      <!--  begin footer    -->
      <div class="footer-pagination">
        <div class="row">
          <div class="col-md-6"></div>

          <div class="col-md-6">
            <div class="row">
              <div class="col-md-9" style="padding-left: 30%">

                <ngb-pagination [(page)]="thePageNumber"
                                [pageSize]="thePageSize"
                                [collectionSize]="theTotalElements"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                (pageChange)="listProducts()">

                </ngb-pagination>

              </div>

              <div class="col-md-3 mt-2" style="text-align: right">
                <span class="mr-2">Page size</span>

                <select #myPageSelect (change)="updateMyPageSize(myPageSelect.value)">
                  <option selected="true">5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>50</option>
                </select>

              </div>

            </div>
          </div>

        </div>
      </div>
      <!--  end footer    -->

    </div>
  </div>
</div>
